
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.infoContainer {
    display: flex;
    gap: 100px;
}
.infoDetalle{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 10px;
}

.infoImagen{
    width: 175px;
    height: 175px;
    background-color: #cccccc;
    border-radius: 3%;
}
.saludo{
    font-family: "calistoga", serif;
}
.saludo.dark{
    color: #ffffff;
}
.saludo.light{
    color: #000000;
}
.infoLinks{
    display: flex;
    gap: 10px;
    align-items: center;
}
a{
    all: unset;
    cursor: pointer;
}
.cv{
    width: 120px;
    padding: 4px;
    border:1px solid #cccccc;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 2px #cccccc;
}

.cv.light:hover{
    background-color: #F3F4F6;
}

.cv.dark:hover{
    background-color: #1F2937;
}
.svg.dark{
    stroke: #ffffff;
}
.svg.light{
    stroke: #000000;
}

.socials svg{
    stroke: #aaaaaa;
}

.socials.dark svg:hover{
    stroke: #ffffff;
}
.socials.light svg:hover{
    stroke: #000000;
}
.infoImagen img{
width: 100%;
border-radius: 3%;
}
@media (max-width: 800px) {
    .infoContainer {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .infoImagen {
        width: 150px;
        height: 150px;
    }
    .infoDetalle {
        font-size: 1rem;
        gap: 5px;
    }
    .cv {
        width: 100px;
        padding: 3px;
    }
}